/* Header component */
header {
    max-width: 1440px;
    height: 120px;
}
nav {
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.nav-logo {
    background-image: url("../images/logo.png");
    height: 34px;
    width: 196px;
}
.nav-items {
    display: flex;
    font: bold 10px Arial;
    color: #767676;
    align-items: center;
}
.nav-items div {
    padding: 0 8px;
    cursor: pointer;
}
.nav-items div:hover {
    opacity: 0.6;
}

/* react-burger-menu style */
.bm-burger-button {
    position: relative;
    height: 10px;
}
.bm-burger-bars {
    background: #767676;
}