main {
    display: flex;
    justify-content: center;
}
main > div {
    margin-top: 75px;
    column-count: 3;
    column-gap: 60px;
    max-width: 1160px;
}
.main-item {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #767676;
    cursor: pointer;
}

.main-item .date {
    font-family: "Arial", sans-serif;
    font-size: 11px;
    color: #767676;
    margin-top: 40px;
    margin-bottom: 15px;
}
.main-item .title {
    font-family: "Springville Regular", serif;
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.main-item .presented {
    font-family: "Adobe Caslon Pro", sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}